.glass-div {
    width: 313px;
    height: 438px;
    padding: 30px;

    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */

    z-index: 2;


    /* "Frost" & "Refraction" */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    /* "Light" */
    /* background: linear-gradient( */
    /*     135deg, */
    /*     rgba(255, 255, 255, 0.25) 0%, */
    /*     rgba(255, 255, 255, 0.1) 100% */
    /* ); */
    /**/
    /* "Depth" */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);

    /* --- Optional extras --- */
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 35px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

