@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.frost {
/* width: 313px; */
    /* height: 438px; */
    padding: 30px;

    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */

    z-index: 0;


    /* "Frost" & "Refraction" */
    backdrop-filter: blur(4px);

    /* "Light" */
    /* background: linear-gradient( */
    /*     135deg, */
    /*     rgba(255, 255, 255, 0.25) 0%, */
    /*     rgba(255, 255, 255, 0.1) 100% */
    /* ); */
    /**/
    /* "Depth" */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);

    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 35px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);

}

@keyframes fade {
  0% { opacity: 0; transform: translate(-50%, 10px); }
  20% { opacity: 1; transform: translate(-50%, 0); }
  80% { opacity: 1; transform: translate(-50%, 0); }
  100% { opacity: 0; transform: translate(-50%, 10px); }
}

.animate-fade {
  animation: fade 2s ease forwards;
}
html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 999px;
}